<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- Header with Back Button -->
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <a href="{{ url_for('user_page') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h1 class="m-0">Borrowed Books</h1>
            <span></span>
        </div>
        
        <!-- Borrowed Books Table -->
        {% if books %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Book Number</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Borrow Date</th>
                    <th>Return Date</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book['bookno'] }}</td>
                    <td>{{ book['name'] }}</td>
                    <td>{{ book['author'] }}</td>
                    <td>{{ book['category'] }}</td>
                    <td>{{ book['quantity'] }}</td>
                    <td>{{ book['borrow_date'] }}</td>
                    <td>{% if book['return_date'] == None %} - {% else %} {{ book['return_date'] }} {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <!-- Message if no books are borrowed -->
        <div class="alert alert-info" role="alert">
            No books borrowed.
        </div>
        {% endif %}
    </div>
</body>
</html>
